# -*- coding: utf-8 -*-

conf = {'server': [('irc.geeknode.org', 6667)],
        'nick': 'Nicebot',
        'password': '',
        'fullname': 'Le bot IRC du Nicelab',
        'chans': ['#poney-gonflable'],
        'command_prefix': '~',
        'plugins': ['admin', 'autopan', 'catcopter', 'discuss']}

plugins_conf = {'admin': {'admins': ['Gordon']},
                'microblogging': {'token': '',
                                  'token_secret': '',
                                  'consumer_key': '',
                                  'consumer_secret': ''}
                }
